<section id="game" class="games">
  <div class="cards" *ngIf="games$ | async as games">
    <div class="card" *ngFor="let game of games">
      <span class="card-imgs">
        <img [src]="game.hTeam.logo" alt="" />
        <img [src]="game.vTeam.logo" alt="" />
      </span>
      <div class="card-game-info" *ngIf="game.currentPeriod.charAt(0) !== '0'">
        <p>{{ game.hTeam.nickName }}: {{ game.hTeam.score.points }}</p>
        <p>{{ game.vTeam.nickName }}: {{ game.vTeam.score.points }}</p>
      </div>
      <div class="card-game-halftime" *ngIf="game.halftime === '1'">
        <p>Half Time</p>
      </div>
      <div
        class="card-game-time"
        *ngIf="game.currentPeriod.charAt(0) === '4' && game.clock === ''"
      >
        <p>Final Score</p>
      </div>
      <div class="card-game-time" *ngIf="game.currentPeriod.charAt(0) === '0'">
        <p>Coming Up</p>
      </div>
      <div
        class="card-game-period"
        *ngIf="game.currentPeriod.charAt(0) !== '0' && game.clock !== ''"
      >
        <p>Quarter: {{ game.currentPeriod | slice: 0:1 }}</p>
        <p>Time: {{ game.clock }}</p>
      </div>
    </div>
  </div>
</section>
