.news-head {
  background: #232323;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 30rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 55%;
  max-height: 65%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1rem;
}

.card-icon {
  text-align: center;
  background: #2323239c;
  height: 15rem;
}

p {
  font-size: 1.8rem;
}

a.card-button {
  background-color: #232323;
  color: white;
}
.card-button {
  margin: 5rem;
  font-size: 2.2rem;
  color: black;
  display: flex;
  justify-content: center;
  border: 0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  transition: all 0.15s;
}

a.card-button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
